.header{
    padding: 50px;
            display: flex;
            justify-content: space-between;
            background-color:lavender;
            color:purple;
        }
        .footer{
            background-color: silver;
            color:black;
        }
        .container{
            margin:0px;
        }
        *
        {
            margin: 0px;
        }
        .menu li a{
    
            text-decoration:none;
            color:purple;
        }
        .menu{
            display:flex;
        }
        .menu li{
            list-style: none;
            margin:5px;
        }
        .box{
            background-color:lavender;
            margin: 10px;
            padding:10px;
            border:1px gray solid;
            
        }